@model lab1.Models.User
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагування</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h2>Редагування</h2>
        <form asp-action="EditUser" asp-controller="Account" method="post">
            <div class="form-group">
                <label for="Username">Логін</label>
                <input type="text" id="Username" name="Username" class="form-control" value="@Model.Username" required />
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" id="Email" name="Email" class="form-control" value="@Model.Email" required />
            </div>
            <div class="form-group">
                <label for="FullName">Ім'я</label>
                <input type="text" id="FullName" name="FullName" class="form-control" value="@Model.FullName" required />
            </div>
            <button type="submit" class="btn btn-primary mt-3">Зберегти зміни</button>
        </form>
    </div>

</body>
</html>
